@use '../base/variables' as v;
@use '../base/mixins' as m;

.header{

    background-color: red;

    display: flex;
    flex-direction: column;

    @include m.desktop{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{

        width: 30rem;

    }
}